<style type = 'text/css'>
body{
	text-align: center;
}
</style>

<h1>Already Created</h1>
<p>A link for that key has already been created</p>
<p><a href = 'cs70.link/<%= @golink.key %>'>cs70.link/<%= @golink.key %></a> redirects to <a href = '<%= @golink.url %>'><%= @golink.url %></a></p>
<p><a href = '/go/add'>Back to adding a link</a></p>