<style type = 'text/css'>
body{
	text-align: center;
}
#search-input{
	padding:10px;
	width:500px;
}
#auth-section{
	margin-top:100px;
	width:100%;
	border-top: 1px solid rgba(0,0,0,0.1);
}
#loading-gif{
  height:150px;
  /*position:fixed;*/
  /*left:500px;*/
  /*top:175px;*/
  display:none;
  z-index:5000;
}
</style>


<h1>CS70 Links</h1>

<p id = 'navigation-section'>
	<a href = '/go/add'>Add a Link</a>
</p>

<p id = 'search-section'>
	<input id = 'search-input' type = 'text' placeholder = 'Search for links'></input>
</p>

<img src = 'https://cdn.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif' id = 'loading-gif'></img>
<p id = 'search-results'>
</p>

<p id = 'types-section'>
</p>



<div id = 'auth-section'>
	<p><%= Member.get_member_type(current_email).capitalize %></p>
	<% if current_email and current_email != "" %>
	<p>You are using CS70 Links as <%= current_email %></p>
	<p><a href = '/auth/logout'>Sign out</a></p>
	<% else %>
	<p><a href = '/auth/google_oauth2'>Sign in</a></p>
	<% end %>
	<p><a href = '/go/extension'>Get the extension</a></p>
</div>

<%= javascript_include_tag 'application' %>
<script type = 'text/javascript'>

function showSpinner(){
	$("#loading-gif").show();
}
function hideSpinner(){
	$('#loading-gif').hide();
}
function pullSearchResults(term){
	showSpinner();
	$.ajax({
	      url: '/go/search',
	      type: 'get',
	      data: {'q':term},
	      success:function(data){
	      	hideSpinner();
	      	$('#search-results').html(data);
	      },
	      error:function (xhr, textStatus, thrownError){
	      	hideSpinner();
	      	console.log('failed');
	      }
	  });    

}
$('#search-input').keypress(function(e){
	if(e.which == 13) {
        term = $(this).val();
        pullSearchResults(term);
    }
});
</script>