<style type = 'text/css'>
body{
	text-align: center;
}
</style>


<h1>Successfully Added</h1>
<p>Your link <a href = 'http://cs70.link/<%= @golink.key %>'>cs70.link/<%= @golink.key %></a> was successfully added. It will now redirect to <a href = 'http://<%= @golink.url %>'><%= @golink.url %></a></p>
<p><a href = '/go/add'>Add Another</a></p>